<header>
  <div class="jumbotron">
    <div class="container">
      <h2>Discover what you need.</h2>
      <!--<h3>Flea Market is a marketplace where people around the world connect, both online and offline, to make, sell and buy their goods.</h3>-->
    </div>
  </div>
</header>
<article>
  <div class="container-fluid">
    <div class="row">
      <% @listings.each do |listing| %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail wrapper">
            <div class="ribbon-wrapper-green"><div class="ribbon-green">Sold Out</div></div>
            <div class="image">
              <%= link_to listing do %><%= image_tag listing.image.url(:medium), class: 'img-responsive', alt: 'listing-#{listing.id}-image' %><% end %>
              <br>
            </div>
            <div class="caption">
              <h3><%= link_to truncate(listing.name, length: 100, separator: ' '), listing %></h3>
              <div class="text-center">
                <p><%= number_to_currency(listing.price) %></p>
                <p><%= "by #{ listing.user.first_name } #{listing.user.last_name[0]}." %></p>
              </div> 
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>

    <% if user_signed_in? %>
      <%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
    <% end %>
  </div>
</article>
