<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-sm-3">
      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing, class: 'img-responsive', alt: 'listing-#{listing.id}-image' %><br>
        <div class="caption">
          <h3><%= link_to listing.name, listing %></h3>
          <div class="text-center">
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "by #{ listing.user.first_name } #{listing.user.last_name[0]}." %></p>
            <% if current_user == listing.user %>
              <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-link' %> 
              <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>      
            <% end %>
          </div> 
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
<% end %>
