<article>
	<div class="container-fluid">
		<div class="content-box thumbnail">
			<div class="row">
				<h3 class="text-center">Listing Details</h3>
				<br />
				<div class="col-md-5">
					<div class="thumbnail wrapper">
						<% if @listing.sold %>
							<div class="ribbon-wrapper-green"><div class="ribbon-green">Sold Out</div></div>
						<% end %>
						<%= image_tag @listing.image.url(:large), class: 'img-responsive' %>			
					</div>
				</div>
				<div class="col-md-7">
					<h3><%= @listing.name %></h3>
					<h4><%= number_to_currency(@listing.price) %></h4>
					<p><%= @listing.description %></p>
					<% unless ( @listing.user == current_user ) || ( @listing.sold )%>
						<br />
						<%= link_to 'Buy now', new_listing_order_path(@listing), class: 'btn btn-primary', data: { no_turbolink: true } %>
					<% end %>
				</div>
			</div>
			<br>
			<div class="row text-center">
				<% if current_user == @listing.user %>
					<%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-link' %> |
				<% end %>
				<%= link_to 'Back', listings_path, class: 'btn btn-link' %>
			</div>
		</div>
	</div>
</article>