<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-sm-5">
		<div class="thumbnail">
			<%= image_tag @listing.image.url, class: 'img-responsive' %>			
		</div>
	</div>
	<div class="col-sm-7">
		<h3><%= @listing.name %></h3>
		<h5><%= number_to_currency(@listing.price) %></h5>
		<p><%= @listing.description %></p>
	</div>
</div>

<%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-link' %> |
<%= link_to 'Back', listings_path, class: 'btn btn-link' %>
